<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DE Store</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img class="navBarImg" src="/images/home.png" width="32" height="32"> <span>Home</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PriceControl">
                <img class="navBarImg" src="/images/pricing.png" width="32" height="32"> <span>Price Control</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LoyaltyCards">
                <img class="navBarImg" src="/images/card.png" width="32" height="32"> <span>Loyalty Cards</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ReportsAndAnalysis">
                <img class="navBarImg" src="/images/report.png" width="32" height="32"> <span>Reports & Analysis</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InventoryControl">
                <img class="navBarImg" src="/images/inventory.png" width="32" height="32"> <span>Inventory Control</span>
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Finance">
                <img class="navBarImg" src="/images/finance.png" width="32" height="32"> <span>Finance</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Config">
                <img class="navBarImg" src="/images/config.png" width="32" height="32"> <span>Config</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
