@page "/LoyaltyCards"

<PageTitle>Loyalty Cards</PageTitle>

<h1>Loyalty Cards</h1>

<h2>Configure Offers for Loyalty Cards</h2>



<h2>Customers with Loyalty Cards</h2>

<h2>Customers with revoked Loyalty Cards</h2>

<h2>Customers without Loyalty Cards</h2>




@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
